@font-face {
	font-family: 'Pacifico';
	src: url('../fonts/pacifico/Pacifico.ttf');
	font-size: normal;
	font-weight: 600;
}

@font-face {
	font-family: 'futura';
	src: url('../fonts/futura/futura\ light\ bt.ttf');
	font-style: normal;
	font-weight: 200;
}

@font-face {
	font-family: 'futura';
	src: url('../fonts/pacifico/Pacifico.ttf');
	font-style: normal;
	font-weight: 200;
}

@font-face {
	font-family: 'futura';
	src: url('../fonts/futura/Futura\ Bold\ font.ttf');
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'futura';
	src: url('../fonts/futura/futura\ medium\ bt.ttf');
	font-style: normal;
	font-weight: 200;
}

@font-face {
	font-family: 'roboto';
	src: url('../fonts/roboto/Roboto-Light.ttf');
	font-style: normal;
	font-weight: 200;
}

@font-face {
	font-family: 'roboto';
	src: url('../fonts/roboto/RobotoCondensed-Regular.ttf');
	font-style: normal;
	font-weight: 700;
}

@media screen and (max-width: 1365px) {
	.big {
		width: 100%;
	}

	.modal {
		width: 100%;
		height: auto;
	}

	.modal-dialog {
		width: 100%;
	}

	.modal-content {
		width: 100%;
	}

	iframe {
		width: 100%;
	}

	.modal .fade {
		width: 100%;
		height: auto;
	}

	.modal .show {
		height: auto;
		width: 100%;
	}

	.sec {
		width: 100%;
	}

	.boxDataService {
		width: 100%;
	}
}

.boxDataService {
	width: 100%;
}

@media screen and (max-width: 766px) {

	.navbar {
		width: 100%;
		position: absolute;
		top: 0;
		z-index: 10;
	}

	.tC {
		width: 100%;
	}


}

html {
	scroll-behavior: smooth;
}

.navbar {
	width: 1366px;
	z-index: 10;
	padding: 10px 0;
	transition: all 400ms linear
}

.navDown {
	transition: all 400ms linear;
	z-index: 10;
	background: #fff;
}


.nav-item {
	font-weight: 800;
	text-transform: uppercase;
}

.navbar-light .navbar-brand {
	font-size: 1.5rem;
	font-family: pacifico;
	font-weight: 200;
	margin-left: 5rem;
}



.navbar-light .navbar-nav .nav-item .nav-link {
	margin-right: 4rem;
	color: black;
	font-family: futura;
	font-weight: 200;
	font-size: 1rem;
}

.navbar-light .navbar-toggler {
	border: none;
	color: #fff;
	border: 2px solid #7f7f7f;
	border-radius: 0;
	outline: none;
}

.sec {
	width: 1366px;
	height: auto;
	padding: 2rem 5rem;
}


.carousel {
	margin-top: -200px;
	width: 1366px;
	height: 766px;
	position: absolute;
}


.headImage {
	width: 1366px;
	height: 766px;
	position: absolute;
	top: 0;
	left: 0;
}

.headImage img {
	top: 0;
	left: 0;
	width: 1366px;
	height: 766px;
	z-index: -1;
	position: absolute;
}

.c-ind {
	position: absolute;
	top: 96.5%;
	transform: translateY(-96.5%);
}

.sr-only {
	margin-top: 2rem;
}

.big {
	position: absolute;
	right: 0;
	left: 0;
	font-family: Pacifico;
	color: #0000000d;
	color: #cac5c5;
	font-size: 5rem;
	z-index: -1;
	font-weight: 600;
	width: 1366px;
}

.subHeading {
	font-weight: 700;
	font-size: 1.5rem;
	letter-spacing: 1rem;
	text-transform: uppercase;
	position: relative;
	margin-top: 6rem;
	display: inline-block;
}

.futura-head {
	font-family: futura;
	font-weight: 700;
}

.futura-content {
	font-family: futura;
	font-weight: 200;
}

.roboto-head {
	font-family: roboto;
	font-weight: 700;
}

.roboto-content {
	font-family: roboto;
	font-weight: 200;
}

.pacifico-content {
	font-family: Pacifico;
	font-weight: 200;
}

.sc {
	font-size: 13.5px;
}

.is {
	font-size: 15.5px;
}

.pacifico {
	font-family: Pacifico;
	font-weight: 200;
}

.centered {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, 50%);
}

.tC {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.image img {
	width: 350px;
	height: 250px;
}

.newContent {
	margin-top: 50rem;
}

.headIndex {
	z-index: 2;
	position: absolute;
	top: 70%;
	left: 15%;
}

.imageLink {
	text-decoration: none;
	color: black;
}

.imageLink:hover {
	text-decoration: none;
	color: #353434;
}

.img-fluid:hover {
	background-color: #353434;
	opacity: 0.5;
}
